
#leftSideBar {
   height: 100%;
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: flex-start;

   margin: 0px 20px;

   border-radius: 20px;
   border-left: 1px solid rgba(255, 255, 255, 0.3);
   border-top: 1px solid rgba(255, 255, 255, .3);
   box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);

   background-color: rgba(255, 255, 255, 0.3);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);

   transition: all 0.2s ease-in-out;
}

#leftSideBar input[type=search] {
   all: unset;
   width: 68%;
   margin: 30px 0px 20px;
   padding: 10px 15px;

   border-radius: calc(1em + 20px);
   border-left: 1px solid rgba(255, 255, 255, 0.3);
   border-top: 1px solid rgba(255, 255, 255, 0.3);
   box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(255, 255, 255, 0.3), 2px 2px 10px rgba(0, 0, 0, 0.25);
   
   background: transparent;
   -webkit-backdrop-filter: blur(15px);
           backdrop-filter: blur(15px);
   background-color: rgba(255, 255, 255, 0.2);

   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
   color: rgb(70, 70, 70);

   transition: all 0.2s ease-in-out;
   transition: box-shadow 0.2s ease-in;
}
#leftSideBar input[type=search]:hover, #leftSideBar input[type=search]:focus {
   box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.4), -2px -2px 10px rgba(255, 255, 255, 0.5), 2px 1px 10px rgba(0, 0, 0, 0.4);
}


